<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    {%load static %}
    <link rel="stylesheet" href="{% static 'contact.css'%}">

    <title>contact-us</title>
</head>
<body>

    <div class="wrapper">
        <div class="button">
            <div class="icon">
                <i class="fab fa-facebook"></i>
            </div>
            <span>Facebbok</span>
        </div>
        <div class="button">
            <div class="icon">
                <i class="fab fa-twitter"></i>
            </div>
            <span>Twitter</span>
        </div>
        <div class="button">
            <div class="icon">
                <i class="fab fa-youtube"></i>
            </div>
            <span>youtube</span>
        </div>
        <div class="button">
            <div class="icon">
                <i class="fab fa-linkedin-in"></i>
            </div>
            <span><a href="https://www.linkedin.com/in/dheeraj-singh-3166711b1/">linkedin</a> </span>
        </div>
    </div>
    
</body>
</html>